<?xml version="1.0" encoding="UTF-8"?>

<settings>
	<localRepository>E:\\m2\repository</localRepository>
	<interactiveMode>true</interactiveMode>
	<offline>false</offline>
	<pluginGroups>
	</pluginGroups>

	<servers>
		<server>
			<id>nexus</id>
			<username>songjiao</username>
			<password>sohu.com</password>
		</server>

	</servers>

	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<name>Human Readable Name for this Mirror.</name>
			<url>http://127.0.0.1:8081/nexus/content/groups/public</url>
		</mirror>
	</mirrors>

	<profiles>

	</profiles>

</settings>

